aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
bleach==3.3.1
certifi==2022.12.7
chardet==4.0.0
charset-normalizer==2.0.3
colorama==0.4.4
docutils==0.17.1
idna==3.2
importlib-metadata==4.6.1
keyring==23.0.1
multidict==5.1.0
packaging==21.0
pkginfo==1.7.1
Pygments==2.9.0
pyparsing==2.4.7
pywin32-ctypes==0.2.0
readme-renderer==29.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
six==1.16.0
slackclient==2.9.3
tqdm==4.61.2
twine==3.4.2
typing-extensions==3.10.0.0
urllib3==1.26.6
webencodings==0.5.1
yarl==1.6.3
zipp==3.5.0
